spring.application.name=quiz

# Render sets PORT (defaults to 10000). Locally it?ll fall back to 8080.

server.port=8080

# Let Render provide these via env vars
spring.datasource.url=jdbc:postgresql://localhost:5432/quiz
spring.datasource.username=postgres
spring.datasource.password=mayank@123
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

logging.level.org.springframework.security=TRACE

admin.username=admin
admin.password=adminpass

# --- Cloudinary Settings ---
cloudinary.cloud_name=dmzlgshmw
cloudinary.api_key=571989257541843
cloudinary.api_secret=ek6L6t5PSJyIeXkbH4lPxFxJkrE

# --- Google Gemini API Key ---
# Google Gemini
gemini.api.key=AIzaSyAlewvMQHCiAzecPDjmQJEi2m3FkQv87Cs
gemini.model.name=gemini-2.5-flash

spring.servlet.multipart.max-file-size=10MB
spring.servlet.multipart.max-request-size=10MB